<div class="print:hidden grow h-full flex flex-col gap-2">
  <div class="flex gap-4 w-full justify-center">
    <div class="flex flex-col p-2 text-2xl font-semibold items-center">
      <mat-icon class="text-gray-700">schedule</mat-icon>

      <span>
        {{ user.shift.type }}
        {{ user.shift.date | date : "fullDate" : local }}</span>
    </div>

    <div class="flex flex-col p-2 text-2xl font-semibold items-center">
      <i class="fa-solid fa-face-smile"> </i>
      <mat-icon class="text-gray-700">person</mat-icon>
      <span> {{ user.user.username }}</span>
    </div>

    <div class="flex flex-col p-2 text-2xl font-semibold items-center">
      <mat-icon class="text-gray-700">sensor_door</mat-icon>
      <span> {{ user.detail.machine.name }}</span>
    </div>

    <div class="flex flex-col p-2 text-2xl font-semibold items-center">
      <mat-icon class="text-gray-700"> attach_money </mat-icon>
      <span> {{ user.detail.cash.amount | currency : "EGP" }}</span>
    </div>
  </div>
  <div class="flex justify-center gap-3">
    <button class=" py-2 w-1/5  px-4 font-semibold text-lg bg-red-700 rounded-full text-white"
    (click)="opne_in_gate()">
    open _in
  </button>
    <button class=" py-2 w-1/5  px-4 font-semibold text-lg bg-red-700 rounded-full text-white"
      (click)="opne_out_gate()">
      open _out
    </button>
    <button class=" py-2 w-1/5  px-4 font-semibold text-lg bg-red-700 rounded-full text-white" (click)="card_lost()">
      كارت مفقود
    </button>
    <button class=" py-2 px-4 w-1/5  font-semibold text-lg bg-gray-500 rounded-full text-white "
      (click)="get_shift_info()">
      print shift report
    </button>

    <button class=" py-2 px-4 w-1/5  font-semibold text-lg bg-gray-500 rounded-full text-white " (click)="end_shift()">
      end shift
    </button>


  </div>

  <form class="flex flex-col gap-4  ">
    <mat-form-field appearance="outline">
      <mat-label>رقم الكارت </mat-label>
      <input matInput type="number" autofocus [formControl]="card_no" (keypress)="onKeyPress($event)" #card_no_input />
    </mat-form-field>

    @if(selected_parking_sessoion){
    <!-- get data -->
    <div class="flex flex-col text-xl gap-2">
      <div class="flex gap-2 w-full justify-around text-2xl">
        <p>
          المدة: {{selected_parking_sessoion.duration|duration}}
        </p>
        <p>
          المبلغ المطلوب : {{selected_parking_sessoion.amount_paied|currency:"EGP"}}
        </p>
      </div>
      <div class="flex gap-2 justify-around  w-full ">
        <p>
          بوابة الدخول :{{selected_parking_sessoion.gate_in}}
        </p>
        <p>
          تاريخ الدخول :{{selected_parking_sessoion.check_in_time|date:"medium"}}
        </p>
        <p>
          {{(selected_parking_sessoion.category|category)?.name}}
        </p>
      </div>

    </div>

    @if ( ! ((selected_parking_sessoion.category|category)?.isExcept ||
    (selected_parking_sessoion.category|category)?.isSubscription )) {
    <mat-radio-group aria-label="Select an option" [formControl]="category" class="w-full flex  gap-3 justify-center">
      @for (item of short_term_cart; track $index) {

      <mat-radio-button [value]="item.id">
        <span class="text-xl">{{item.name}}</span>
      </mat-radio-button>
      }
    </mat-radio-group>

    }

    <div class="flex items-baseline gap-4 ">
      <mat-form-field appearance="outline">
        <mat-label> Paied </mat-label>
        <input type="number" matInput [formControl]="paied">
      </mat-form-field>
      @if (paied.value - selected_parking_sessoion.amount_paied>=0) {

      <p class="text-xl"> الباقي : {{ paied.value - selected_parking_sessoion.amount_paied |currency:"EGP"}} </p>

      <button class="bg-amber-500 text-gray-700 text-xl font-bold py-2 px-4 rounded-xl" (click)="car_out()"
        type="button">
        حفظ
      </button>
      }

    </div>

    }


  </form>
</div>

<!-- print area -->
<div class=" hidden print:block">
  <!-- in lost card  -->
  @if (lost_card) {
  @if (selected_parking_sessoion) {
  <div class="flex flex-col ">
    <h2>
      welcome in hospital gawya
    </h2>
    <h2>
      payment_number : {{selected_parking_sessoion.id}}
    </h2>
    <div class="grid grid-cols-2 ">
      <h3>
        time_in :{{selected_parking_sessoion.check_in_time|date}}
      </h3>
      <h3>
        time_out :{{selected_parking_sessoion.check_out_time|date}}
      </h3>
      <h3>
        gate_in :{{selected_parking_sessoion.gate_in}}
      </h3>
      <h3>
        gate_out :{{selected_parking_sessoion.gate_out}}
      </h3>
      <h3>

        duration: {{selected_parking_sessoion.duration|duration}}
      </h3>
      <h3>
        money :{{selected_parking_sessoion.amount_paied|currency:"EGP"}}
      </h3>
      <h3>
        categtory:{{(selected_parking_sessoion.category|category)?.name}}
      </h3>
      <h3>
        cashier :{{selected_parking_sessoion.cashier}}
      </h3>
    </div>
  </div>

  }
  }@else{
  @if (selected_parking_sessoion) {
  <div class="flex flex-col ">
    <h2>
      welcome in hospital gawya
    </h2>
    <h2>
      payment_number : {{selected_parking_sessoion.id}}
    </h2>
    <div class="grid grid-cols-2 ">
      <h3>
        time_in :{{selected_parking_sessoion.check_in_time|date}}
      </h3>
      <h3>
        time_out :{{selected_parking_sessoion.check_out_time|date}}
      </h3>
      <h3>
        gate_in :{{selected_parking_sessoion.gate_in}}
      </h3>
      <h3>
        gate_out :{{selected_parking_sessoion.gate_out}}
      </h3>
      <h3>

        duration: {{selected_parking_sessoion.duration|duration}}
      </h3>
      <h3>
        money :{{selected_parking_sessoion.amount_paied|currency:"EGP"}}
      </h3>
      <h3>
        categtory:{{(selected_parking_sessoion.category|category)?.name}}
      </h3>
      <h3>
        cashier :{{selected_parking_sessoion.cashier}}
      </h3>
    </div>
  </div>
  }
  }
  @if (print_shift_info) {
  @if(shift_info){

  {{user.shift.date|date}} <br>
  {{user.shift.type}} <br>
  {{user.shift.start|date}} <br>
  {{user.shift.end |date}} <br>
  {{shift_info.car_in}} <br>
  @for (item of shift_info.car_in_detail; track $index) {
  {{(item.category|category)?.name}} ---{{item.count}}
  }
  <br>
  {{shift_info.car_out}} <br>
  @for (item of shift_info.car_out_detail; track $index) {
  {{(item.category|category)?.name}} ---{{item.count}}
  }
  <br>
  {{shift_info.cash|currency:"EGP"}}

  <br>
  {{user.user.username}} -- {{user.detail.machine.name}}

  }


  }


  <!-- print shift info -->




</div>