
<div  class=" flex flex-col  h-full justify-center items-center  grow w-full bg-gray-100 "  >

  <div class="p-5 w-3/4  border-2 border-gray-500 rounded-xl bg-slate-100 ">

    <h2>تغيير كلمة المرور</h2> 
    <form [formGroup]="change_password_form" class="flex justify-center" (ngSubmit)="onformsubmit()">
        <div class="w-1/2">
      <div class="flex flex-col " >
        @if (is_admin) {
        <mat-form-field appearance="outline">
          <mat-label>المستخدم</mat-label>
          <mat-select formControlName="username">
            @for (item of users; track $index) {
            <mat-option [value]="item.username"
              >{{ item.username }}
            </mat-option>
            }
          </mat-select>
        </mat-form-field>
        }@else{ @if(loginUser){
         <!-- <input type="hidden" [value]="loginUser.user.username" formControlName="username"/> -->
        } }
  
        <mat-form-field appearance="outline">
          <mat-label>كلمة المرور </mat-label>
          <input type="text" matInput formControlName="password" />
        </mat-form-field>
        <button class="w-1/2 bg-amber-500 disabled:bg-orange-300 font-bold py-2 px-4 rounded self-center border border-black  "  [disabled]="!change_password_form.valid" type="submit">change password</button>
      </div>
    </div>
    </form>
  

  </div>
  
</div>
