<div class="w-full">
    <mat-form-field appearance="outline" class="w-full">
        <mat-label> payment </mat-label>
        <input type="number" [formControl]="payment_no" matInput />
    </mat-form-field>

    @if(payment_detail) {
    @if(payment_detail.lost_card){
    <div class="flex flex-wrap font-bold text-xl text-center ">
        <span class="w-1/2">
            gate out
            {{ payment_detail.gate_out }}
        </span>

        <span class="w-1/2">
            time_out
            {{payment_detail.check_out_time|date :'fullDate':local }}
        </span>
        

        
        <button class="py-2 w-full m-2 px-4 rounded-xl bg-gray-700 text-white  " (click)="remove_lost_card()">Remove card
            lost</button>
    </div>
    }@else{
    <div class="flex   font-bold  text-xl flex-wrap text-center  ">

        @if (! payment_detail.done ) {
        <span>this user not out yet </span>
        }@else {

        <span class="w-1/2">
            paiedamount :
            {{ payment_detail.amount_paied }}
        </span>

        <span class="w-1/2">
            duration :
            {{ payment_detail.duration|duration }}
        </span>
        <span class="w-1/2">
            card number :
            {{ payment_detail.card }}
        </span>
        <span class="w-1/2">
            offer amount :
            {{ payment_detail.offer|currency:"EGP" }}
        </span>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label> Offer</mat-label>
            <input type="number" matInput [formControl]="offer">
        </mat-form-field>
        @if (offer.value && offer.value <=payment_detail.amount_paied ) { <button (click)="add_offer()"
            class="px-4 py-2 bg-gray-700 text-white rounded-xl disabled:bg-gray-500" [disabled]="!offer.valid">Add
            offer</button>
            }
            }
    </div>
    } }
</div>